* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    background: #E5E5E5;
    width: 414px;
    margin: 0 auto;
}
.topo {
    position: fixed;
    width: 414px;
    height: 92px;
    margin: 0 auto;
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h1 {
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 44px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
}
h2 {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-left: 20px;
    margin-bottom: 10px;
}
